<h1> About Honey Cave</h1>
<div id="aboutDesc">
  <p>This website is purely for my own enjoyment. It serves as a digital
    collection of video games that I enjoyed considerably.
    <br />
    Also, it's way more fun to create a website about something I like than
    something that will be useful to me in the future.
  </p>
</div>
<div>
  <h2>Pictures of my dogs, as a treat :)</h2>
  <div id="dogs">
    <img class="dogs" src="/img/John.jpg" alt="/img/John.jpg" />
    <img class="dogs" src="/img/Herson.jpg" alt="/img/Herson.jpg" />
  </div>
</div>