<div>
  <h1>Contact</h1>
  <p>Hello! If you would like to contact me, please refrain from doing so.</p>
  <div id="contact">
    <ul id="contactList">
      <li>Email:
        <a
          href="https://www.vyst22xn@student.ju.se"
        ></a>vyst22xn@student.ju.se</li>
      <li>Instagram: <a href="https://www.nyan.cat/">hah, I would never</a></li>
    </ul>
  </div>
</div>