<div>
  <h1>Create an Account</h1>
  <div id="login">
    <form action="/register" method="post">
      <label for="username">Choose a Username:</label>
      <input type="text" id="username" name="username" /><br />
      <label for="password">Choose a Password:</label>
      <input type="password" id="password" name="password" /><br />
      {{#if session.isAdmin}}
        <label for="role">Role: </label>
        <select name="userRole" id="userRole">
          <option value="User" {{#if (eq user.urole "User")}} selected="selected"{{/if}} >User</option>
          <option value="Assistant" {{#if (eq user.urole "Admin")}} selected="selected"{{/if}} >Assistant</option>
        </select> <br />
      {{/if}}
      <input type="submit" value="Register" />
    </form>
    {{#if error}}
      <div id="error">{{error}}</div>
    {{/if}}
    {{#if message}}
      <div id="message">{{message}}</div>
    {{/if}}
  </div>
</div>